<extend name="Base/common" />

<block name="main">
  <div class="summary-food-album-top">
    <div class="top-link">
      <div class="container clearfix">
        <div class="link-home fl">
          <a href=""><i class="iconfont">&#xe603;</i></a>
        </div>
        <div class="link-list fl">
          <p>您当前的位置：<a href="">首页</a> > <a href="">酒店概况</a> > <a href="">美食图集</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="summary-food-album1">
    <div class="container">
      <h3>餐饮美食</h3>
      <div class="line-blue">

      </div>
      <p>中国素有”烹饪王国“这个美誉。在中国这个大家庭里，我们有五十六个小家庭，每个家庭都有自己的特色美食。</p>
      <p>美食吃前有期待、吃后有回味，已不仅仅是简单的味觉感受，更是一种精神享受。</p>
      <p>享受美食也要看场合，场合好美食起来也有味道。世界各地美食文化博大精深，营养物质各不相同，品味更多美食，享受更多健康，也让人吃的更加开心。</p>
      <div class="album1-pic clearfix">
        <div class="half-box fl">
          <div class="qy-pic">
            <img src="__PUBLIC__/home/img/fa1.jpg" alt="">
          </div>
        </div>
        <div class="half-half-box fl">
          <div class="qy-pic">
            <img src="__PUBLIC__/home/img/fa2.jpg" alt="">
          </div>
          <div class="qy-pic">
            <img src="__PUBLIC__/home/img/fa3.jpg" alt="">
          </div>
        </div>
        <div class="half-half-box fl">
          <div class="qy-pic">
            <img src="__PUBLIC__/home/img/fa4.jpg" alt="">
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="summary-food-album2">
    <div class="container">
      <p class="album2-top">集中华烹饪之精华，汇浙、徽、川、粤四大菜系之大成，坚持从“原产地”采集后每日空运到餐厅，24小时内上桌。</p>
      <div class="album2-pic">
        <div class="row">
          <div class="col-md-3">
            <div class="album2-box">
              <a href="">
                <div class="album2-img">
                  <img src="__PUBLIC__/home/img/fa5.jpg" alt="">
                </div>
                <div class="album2-text">
                  <div class="text-top">
                    <h3>蒸笼口水鸡</h3>
                    <div class="line-blue2">

                    </div>
                  </div>
                  <div class="hide-text">
                    <p>ETNews苹果已经从韩国Sunic公司获得了OLED蒸镀设备，将在台湾建立起2.5G OLED 面板生产线，以便研发相关技术和产品。</p>
                    <p class="album-box-date">2017-07-20</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="album2-box">
              <a href="">
                <div class="album2-img">
                  <img src="__PUBLIC__/home/img/fa6.jpg" alt="">
                </div>
                <div class="album2-text">
                  <div class="text-top">
                    <h3>蒸笼口水鸡</h3>
                    <div class="line-blue2">

                    </div>
                  </div>
                  <div class="hide-text">
                    <p>ETNews苹果已经从韩国Sunic公司获得了OLED蒸镀设备，将在台湾建立起2.5G OLED 面板生产线，以便研发相关技术和产品。</p>
                    <p class="album-box-date">2017-07-20</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="album2-box">
              <a href="">
                <div class="album2-img">
                  <img src="__PUBLIC__/home/img/fa7.jpg" alt="">
                </div>
                <div class="album2-text">
                  <div class="text-top">
                    <h3>蒸笼口水鸡</h3>
                    <div class="line-blue2">

                    </div>
                  </div>
                  <div class="hide-text">
                    <p>ETNews苹果已经从韩国Sunic公司获得了OLED蒸镀设备，将在台湾建立起2.5G OLED 面板生产线，以便研发相关技术和产品。</p>
                    <p class="album-box-date">2017-07-20</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="album2-box">
              <a href="">
                <div class="album2-img">
                  <img src="__PUBLIC__/home/img/fa8.jpg" alt="">
                </div>
                <div class="album2-text">
                  <div class="text-top">
                    <h3>蒸笼口水鸡</h3>
                    <div class="line-blue2">

                    </div>
                  </div>
                  <div class="hide-text">
                    <p>ETNews苹果已经从韩国Sunic公司获得了OLED蒸镀设备，将在台湾建立起2.5G OLED 面板生产线，以便研发相关技术和产品。</p>
                    <p class="album-box-date">2017-07-20</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="album2-box">
              <a href="">
                <div class="album2-img">
                  <img src="__PUBLIC__/home/img/fa9.jpg" alt="">
                </div>
                <div class="album2-text">
                  <div class="text-top">
                    <h3>蒸笼口水鸡</h3>
                    <div class="line-blue2">

                    </div>
                  </div>
                  <div class="hide-text">
                    <p>ETNews苹果已经从韩国Sunic公司获得了OLED蒸镀设备，将在台湾建立起2.5G OLED 面板生产线，以便研发相关技术和产品。</p>
                    <p class="album-box-date">2017-07-20</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="album2-box">
              <a href="">
                <div class="album2-img">
                  <img src="__PUBLIC__/home/img/fa10.jpg" alt="">
                </div>
                <div class="album2-text">
                  <div class="text-top">
                    <h3>蒸笼口水鸡</h3>
                    <div class="line-blue2">

                    </div>
                  </div>
                  <div class="hide-text">
                    <p>ETNews苹果已经从韩国Sunic公司获得了OLED蒸镀设备，将在台湾建立起2.5G OLED 面板生产线，以便研发相关技术和产品。</p>
                    <p class="album-box-date">2017-07-20</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="album2-box">
              <a href="">
                <div class="album2-img">
                  <img src="__PUBLIC__/home/img/fa11.jpg" alt="">
                </div>
                <div class="album2-text">
                  <div class="text-top">
                    <h3>蒸笼口水鸡</h3>
                    <div class="line-blue2">

                    </div>
                  </div>
                  <div class="hide-text">
                    <p>ETNews苹果已经从韩国Sunic公司获得了OLED蒸镀设备，将在台湾建立起2.5G OLED 面板生产线，以便研发相关技术和产品。</p>
                    <p class="album-box-date">2017-07-20</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="album2-box">
              <a href="">
                <div class="album2-img">
                  <img src="__PUBLIC__/home/img/fa12.jpg" alt="">
                </div>
                <div class="album2-text">
                  <div class="text-top">
                    <h3>蒸笼口水鸡</h3>
                    <div class="line-blue2">

                    </div>
                  </div>
                  <div class="hide-text">
                    <p>ETNews苹果已经从韩国Sunic公司获得了OLED蒸镀设备，将在台湾建立起2.5G OLED 面板生产线，以便研发相关技术和产品。</p>
                    <p class="album-box-date">2017-07-20</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="album-load">加载更多</button>
  </div>
</block>