<extend name="Base/common" />

<block name="main">
  <div class="summary-food-top">
    <div class="top-link">
      <div class="container clearfix">
        <div class="link-home fl">
          <a href=""><i class="iconfont">&#xe603;</i></a>
        </div>
        <div class="link-list fl">
          <p>您当前的位置：<a href="">首页</a> > <a href="">酒店概况</a> > <a href="">餐饮美食</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="summary-food">
    <div class="container">
      <h3>餐饮美食</h3>
      <div class="line-blue">

      </div>
      <div class="summary-food-show">
        <div class="row">
          <div class="col-md-6">
            <div class="sum-box">
              <img src="__PUBLIC__/home/img/sf1.jpg" alt="">
              <div class="textarea-content">
                <a href="">
                  <span class="line line-top"></span>
                  <span class="line line-left"></span>
                  <span class="line line-right"></span>
                  <span class="line line-bottom"></span>
                  <h3>印象西餐厅</h3>
                  <p>Impression restaurant</p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="sum-box">
              <img src="__PUBLIC__/home/img/sf2.jpg" alt="">
              <div class="textarea-content">
                <a href="">
                  <span class="line line-top"></span>
                  <span class="line line-left"></span>
                  <span class="line line-right"></span>
                  <span class="line line-bottom"></span>
                  <h3>中餐厅包厢</h3>
                  <p>Impression restaurant</p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="sum-box">
              <img src="__PUBLIC__/home/img/sf3.jpg" alt="">
              <div class="textarea-content">
                <a href="">
                  <span class="line line-top"></span>
                  <span class="line line-left"></span>
                  <span class="line line-right"></span>
                  <span class="line line-bottom"></span>
                  <h3>大堂吧</h3>
                  <p>lobby</p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="sum-box">
              <img src="__PUBLIC__/home/img/sf4.jpg" alt="">
              <div class="textarea-content">
                <a href="">
                  <span class="line line-top"></span>
                  <span class="line line-left"></span>
                  <span class="line line-right"></span>
                  <span class="line line-bottom"></span>
                  <h3>美食相册</h3>
                  <p>Gourmet album</p>
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</block>