<extend name="Base/common" />

<block name="main">
  <div class="summary-gym-top">
    <div class="top-link">
      <div class="container clearfix">
        <div class="link-home fl">
          <a href=""><i class="iconfont">&#xe603;</i></a>
        </div>
        <div class="link-list fl">
          <p>您当前的位置：<a href="">首页</a> > <a href="">酒店概况</a> > <a href="">健身中心</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="summary-gym">
    <div class="container">
      <h3>餐饮美食</h3>
      <div class="line-blue">

      </div>
      <div class="summary-gym-show">
        <div class="row">
          <div class="col-md-6">
            <div class="sum-box">
              <img src="__PUBLIC__/home/img/sg1.jpg" alt="">
              <div class="textarea-content">
                <a href="">
                  <span class="line line-top"></span>
                  <span class="line line-left"></span>
                  <span class="line line-right"></span>
                  <span class="line line-bottom"></span>
                  <h3>心肺功能训练区</h3>
                  <p>Impression restaurant</p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="sum-box">
              <img src="__PUBLIC__/home/img/sg2.jpg" alt="">
              <div class="textarea-content">
                <a href="">
                  <span class="line line-top"></span>
                  <span class="line line-left"></span>
                  <span class="line line-right"></span>
                  <span class="line line-bottom"></span>
                  <h3>自由重量器械区</h3>
                  <p>Impression restaurant</p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="sum-box">
              <img src="__PUBLIC__/home/img/sg3.jpg" alt="">
              <div class="textarea-content">
                <a href="">
                  <span class="line line-top"></span>
                  <span class="line line-left"></span>
                  <span class="line line-right"></span>
                  <span class="line line-bottom"></span>
                  <h3>休闲运动区</h3>
                  <p>lobby</p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="sum-box">
              <img src="__PUBLIC__/home/img/sg4.jpg" alt="">
              <div class="textarea-content">
                <a href="">
                  <span class="line line-top"></span>
                  <span class="line line-left"></span>
                  <span class="line line-right"></span>
                  <span class="line line-bottom"></span>
                  <h3>健身图集</h3>
                  <p>Gourmet album</p>
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</block>