<extend name="Base/common" />

<block name="main">
  <div class="summary-intro-top">
    <div class="top-link">
      <div class="container clearfix">
        <div class="link-home fl">
          <a href=""><i class="iconfont">&#xe603;</i></a>
        </div>
        <div class="link-list fl">
          <p>您当前的位置：<a href="">首页</a> > <a href="">酒店概况</a> > <a href="">酒店简介</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="summary-intro">
    <div class="container">
      <h3>酒店介绍</h3>
      <div class="line-blue">

      </div>
      <div class="intro-text">
        <p>杭州国际博览中心北辰大酒店是杭州国际博览中心的配套四星级酒店，坐落于钱塘江南岸，矗立于钱江世纪城核心区，俯瞰钱塘江之壮观美景，一览钱江世纪城之新风。酒店共19层，室内外均有连廊直通展厅和各会议室，262间时尚雅致的豪华客房中包括18间套房，房间面积44-165平方米，均配备了舒适完备的现代化设施，为您提供高档奢华的入住环境，尽享一线钱塘江美景。中西餐厅各具特色，提供世界各地美食，自助、零点、送餐多样形式尽享美味风尚。</p>
        <p>大堂吧极具古典意蕴，与空中花园相接，提供丰富精致的小食饮品。酒店配套先进完备的无柱式多功能会议厅和VIP接待室，休闲时尚的健身中心具备多样运动设施，更有专业、高效的会议及宴会服务团队让您尊享至臻至善的服务体验。</p>
        <p class="intro-contact">酒店联系方式：+86（571）8290 8866</p>
      </div>
      <div class="intro-pic clearfix">
        <div class="half-box fl">
          <div class="qy-pic">
            <img src="__PUBLIC__/order/img/si1.jpg" alt="">
          </div>
        </div>
        <div class="half-half-box fl">
          <div class="qy-pic">
            <img src="__PUBLIC__/order/img/si2.jpg" alt="">
          </div>
        </div>
        <div class="half-half-box fl">
          <div class="qy-pic">
            <img src="__PUBLIC__/order/img/si3.jpg" alt="">
          </div>
        </div>
        <div class="half-half-box fl">
          <div class="qy-pic">
            <img src="__PUBLIC__/order/img/si4.jpg" alt="">
          </div>
        </div>
        <div class="half-half-box fl">
          <div class="qy-pic">
            <img src="__PUBLIC__/order/img/si5.jpg" alt="">
          </div>
        </div>
        <div class="half-box fl">
          <div class="qy-pic">
            <img src="__PUBLIC__/order/img/si6.jpg" alt="">
          </div>
        </div>
      </div>

    </div>
  </div>
</block>