<extend name="Base/common"/>

<block name="title">
  {$page.title}
</block>

<block name="main">
  <form role="form" class="validate" action="__ACTION__" method="post">
    <div class="row">
      <div class="col-md-12">
        <div class="box">
          <div class="box-divider m-0"></div>
          <div class="box-body">

            <div class="form-group">
              <label>邮箱</label>
              <div class="row">
                <div class="col-md-6">
                  <input type="text" name="email" class="form-control" value="{$data.email}">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn primary m-b">提交</button>
  </form>
</block>

<block name="footer_common">
  <!-- qy-upload -->
  <script src="__PUBLIC__/admin/libs/jquery/jquery-form/jquery.form.min.js"></script>
  <script src="__PUBLIC__/admin/scripts/qy-upload.js"></script>
  <script type="text/javascript">
    $('.qy-upload-1').qy_upload("{:U('Upload/index')}","slide[1][pic]",0);
    $('.qy-upload-2').qy_upload("{:U('Upload/index')}","slide[2][pic]",0);
    $('.qy-upload-3').qy_upload("{:U('Upload/index')}","slide[3][pic]",0);
    $('.qy-upload-4').qy_upload("{:U('Upload/index')}","slide[4][pic]",0);
    $('.qy-upload-5').qy_upload("{:U('Upload/index')}","slide[5][pic]",0);
  </script>
</block>
