<extend name="Base/common"/>

<block name="title">
  {$page.title}
</block>

<block name="main">
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-divider m-0"></div>
        <div class="box-body">
          <form role="form" class="validate" action="__ACTION__" method="post">
            <div class="form-group">
              <label>banner图片(1920*940)</label>
              <div class="row">
                <div class="col-md-12">
                  <div class="qy-upload upload-pic">
                    <ul>
                      <notempty name="data.pic">
                        <volist name="data.pic" id="vo">
                          <li>
                            <img src="__ROOT__/Uploads/{$vo}">
                            <input type="hidden" name="pic[]" value="{$vo}">
                            <span class="qy-upload-del"><i class="fa fa-remove"></i></span>
                          </li>
                        </volist>
                      </notempty>
                      <li class="upload-pic-wrap">
                        <i class="fa fa-plus"></i>
                        <input type="file" class="upload-pic-button" name="qy_upload">
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>视频链接(.MP4后缀)</label>
              <div class="row">
                <div class="col-md-6">
                  <input type="text" name="url" class="form-control" value="{$data.url}">
                </div>
              </div>
            </div>
                  <button type="submit" class="btn primary m-b">提交</button>
                    </form>
                    </div>
                    </div>
                    </div>
                    </div>
                    </block>

                    <block name="footer_common">
                    <!-- qy-upload -->
                    <script src="__PUBLIC__/admin/libs/jquery/jquery-form/jquery.form.min.js"></script>
                  <script src="__PUBLIC__/admin/scripts/qy-upload.js"></script>
                  <script type="text/javascript">
                    $('.qy-upload').qy_upload("{:U('Upload/index',['width'=>1200,'height'=>620])}","pic",1);
                  </script>

                  </block>
