<extend name="Base/common"/>

<block name="title">
  {$page.title}
</block>

<block name="main">
  <!-- <a href="{:U('add_hand')}" class="btn btn-fw primary m-b">新增</a> -->
  <div class="row">
    <div class="col-sm-12">
      <div class="box">
        <table class="table table-striped b-t">
          <thead>
          <tr>
            <th>#</th>
            <th>姓名</th>
            <th>商品名称</th>
            <th>数量</th>
            <th>订单价格</th>
            <th>订单时间</th>
            <th>订单状态</th>
            <th>支付交易号</th>
            <th>支付方式</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <volist name="data" id="data">
            <tr>
              <td>{$data.oid}</td>
              <td>{$data.name}</td>
              <td>{$data.title}</td>
              <td>{$data.num}</td>
              <td>{$data.sumprice}</td>
              <td>{$data.time}</td>
              <eq name="data.statu" value="0"><td>未发货</td><else/><td>已发货</td></eq>
              <td>{$data.transaction_id}</td>
              <if condition="$data['paytype'] eq 22"><td>支付宝</td><elseif condition="$data['paytype'] eq 21"/><td>微信</td><else /><td>银联</td></if>
              <td><a href="{:U('edit_order',array('id' => $data['oid']))}">操作</a><!--  <a href="{:U('del_order',array('id'=>$data['oid']))}" class="text-danger" onclick="return confirm('确认要删除吗，删除后无法恢复？')">删除</a> --></td>
            </tr>
          </volist>
          </tbody>
        </table>
      </div>
      <div class="pagenavi">
        {$pagenavi}
      </div>
    </div>
  </div>
</block>
