<eq name="Think.session.aid" value="1">
<nav class="scroll nav-light">

    <ul class="nav" ui-nav>
      <li class="nav-header hidden-folded">
        <small class="text-muted">首页</small>
      </li>

      <li <eq name="Think.CONTROLLER_NAME" value="Index">class="active"</eq>>
      <a>
          <span class="nav-caret">
            <i class="fa fa-caret-down"></i>
          </span>
        <span class="nav-icon">
            <i class="material-icons">&#xe3fc;
              <span ui-include="'__PUBLIC__/admin/assets/images/i_0.svg'"></span>
            </i>
          </span>
        <span class="nav-text">首页</span>
      </a>
      <ul class="nav-sub">
        <li>
          <a href="{:U('Index/index')}">
            <span class="nav-text">logo</span>
          </a>
        </li>
        <li>
          <a href="{:U('Index/email')}">
            <span class="nav-text">Email</span>
          </a>
        </li>
      </ul>
      </li>

      <li <eq name="Think.CONTROLLER_NAME" value="Expo">class="active"</eq>>
        <a>
            <span class="nav-caret">
              <i class="fa fa-caret-down"></i>
            </span>
          <span class="nav-icon">
              <i class="material-icons">&#xe8f0;
                <span ui-include="'__PUBLIC__/admin/assets/images/i_2.svg'"></span>
              </i>
            </span>
          <span class="nav-text">展览中心</span>
        </a>
        <ul class="nav-sub">
          <li>
            <a href="{:U('Expo/index')}">
              <span class="nav-text">中心介绍</span>
            </a>
          </li>
          <li>
            <a href="{:U('Expo/picture')}">
              <span class="nav-text">图集展示</span>
            </a>
          </li>
          <li>
            <a href="{:U('Expo/data')}">
              <span class="nav-text">技术参数</span>
            </a>
          </li>
          <li>
            <a href="{:U('Expo/history')}">
              <span class="nav-text">展会排期</span>
            </a>
          </li>
          <li>
            <a href="{:U('Expo/reserve')}">
              <span class="nav-text">在线报名</span>
            </a>
          </li>
        </ul>
      </li>

      <li <eq name="Think.CONTROLLER_NAME" value="G20">class="active"</eq>>
        <a>
              <span class="nav-caret">
            <i class="fa fa-caret-down"></i>
          </span>
          <span class="nav-icon">
            <i class="material-icons">&#xe8d2;
              <span ui-include="'__PUBLIC__/admin/assets/images/i_3.svg'"></span>
            </i>
          </span>
          <span class="nav-text">G20体验馆</span>
        </a>
        <ul class="nav-sub">
          <li>
            <a href="{:U('G20/index')}">
              <span class="nav-text">介绍</span>
            </a>
          </li>
          <li>
            <a href="{:U('G20/picture')}">
              <span class="nav-text">图集</span>
            </a>
          </li>
          <li>
            <a href="{:U('G20/food')}">
              <span class="nav-text">菜品介绍</span>
            </a>
          </li>
        </ul>
      </li>

      <li <eq name="Think.CONTROLLER_NAME" value="Meeting">class="active"</eq>>
        <a>
              <span class="nav-caret">
            <i class="fa fa-caret-down"></i>
          </span>
          <span class="nav-icon">
            <i class="material-icons">&#xe8d2;
              <span ui-include="'__PUBLIC__/admin/assets/images/i_3.svg'"></span>
            </i>
          </span>
          <span class="nav-text">会议中心</span>
        </a>
        <ul class="nav-sub">
          <li>
            <a href="{:U('Meeting/index')}">
              <span class="nav-text">介绍</span>
            </a>
          </li>
          <li>
            <a href="{:U('Meeting/picture')}">
              <span class="nav-text">图集</span>
            </a>
          </li>
          <li>
            <a href="{:U('Meeting/data')}">
              <span class="nav-text">技术参数</span>
            </a>
          </li>
          <li>
            <a href="{:U('Meeting/history')}">
              <span class="nav-text">历史会议</span>
            </a>
          </li>
          <li>
            <a href="{:U('Meeting/reserve')}">
              <span class="nav-text">在线报名</span>
            </a>
          </li>
        </ul>
      </li>

      <li <eq name="Think.CONTROLLER_NAME" value="News">class="active"</eq>>
        <a>
                <span class="nav-caret">
              <i class="fa fa-caret-down"></i>
            </span>
          <span class="nav-icon">
              <i class="material-icons">&#xe8d2;
                <span ui-include="'__PUBLIC__/admin/assets/images/i_3.svg'"></span>
              </i>
            </span>
          <span class="nav-text">新闻</span>
        </a>
        <ul class="nav-sub">
          <li>
            <a href="{:U('News/index')}">
              <span class="nav-text">新闻</span>
            </a>
          </li>
        </ul>
      </li>


      <li <eq name="Think.CONTROLLER_NAME" value="Service">class="active"</eq>>
      <a>
                <span class="nav-caret">
              <i class="fa fa-caret-down"></i>
            </span>
        <span class="nav-icon">
              <i class="material-icons">&#xe8d2;
                <span ui-include="'__PUBLIC__/admin/assets/images/i_3.svg'"></span>
              </i>
            </span>
        <span class="nav-text">服务</span>
      </a>
      <ul class="nav-sub">
        <li>
          <a href="{:U('Service/manual')}">
            <span class="nav-text">主办方手册</span>
          </a>
        </li>
        <li>
          <a href="{:U('Service/ads')}">
            <span class="nav-text">广告服务</span>
          </a>
        </li>
        <li>
          <a href="{:U('Service/rule')}">
            <span class="nav-text">展位搭建须知</span>
          </a>
        </li>
        <li>
          <a href="{:U('Service/bus')}">
            <span class="nav-text">公交线路</span>
          </a>
        </li>
        <li>
          <a href="{:U('Service/construct')}">
            <span class="nav-text">施工申办</span>
          </a>
        </li>
        <li>
          <a href="{:U('Service/traffic')}">
            <span class="nav-text">如何到达</span>
          </a>
        </li>
      </ul>
      </li>

      <li <eq name="Think.CONTROLLER_NAME" value="Hr">class="active"</eq>>
      <a>
                <span class="nav-caret">
              <i class="fa fa-caret-down"></i>
            </span>
        <span class="nav-icon">
              <i class="material-icons">&#xe8d2;
                <span ui-include="'__PUBLIC__/admin/assets/images/i_3.svg'"></span>
              </i>
            </span>
        <span class="nav-text">招聘</span>
      </a>
      <ul class="nav-sub">
        <li>
          <a href="{:U('Hr/index')}">
            <span class="nav-text">人才招聘</span>
          </a>
        </li>
      </ul>
      </li>
      <li <eq name="Think.CONTROLLER_NAME" value="About">class="active"</eq>>
      <a>
                <span class="nav-caret">
              <i class="fa fa-caret-down"></i>
            </span>
        <span class="nav-icon">
              <i class="material-icons">&#xe8d2;
                <span ui-include="'__PUBLIC__/admin/assets/images/i_3.svg'"></span>
              </i>
            </span>
        <span class="nav-text">关于我们</span>
      </a>
      <ul class="nav-sub">
        <li>
          <a href="{:U('About/index')}">
            <span class="nav-text">关于我们</span>
          </a>
        </li>
      </ul>
      </li>
    </ul>
</nav>
<else/>
<nav class="scroll nav-light">

    <ul class="nav" ui-nav>
      <li class="nav-header hidden-folded">
        <small class="text-muted">G20体验馆</small>
      </li>
      <li <eq name="Think.CONTROLLER_NAME" value="G20">class="active"</eq>>
        <a>
              <span class="nav-caret">
            <i class="fa fa-caret-down"></i>
          </span>
          <span class="nav-icon">
            <i class="material-icons">&#xe8d2;
              <span ui-include="'__PUBLIC__/admin/assets/images/i_3.svg'"></span>
            </i>
          </span>
          <span class="nav-text">G20体验馆</span>
        </a>
        <ul class="nav-sub">
          <li>
            <a href="{:U('G20/hand')}">
              <span class="nav-text">国博手办</span>
            </a>
          </li>
          <li>
            <a href="{:U('G20/hand_order')}">
              <span class="nav-text">手办订单</span>
            </a>
          </li>
        </ul>
      </li>
	  
	  <li <eq name="Think.CONTROLLER_NAME" value="Tickets">class="active"</eq>>
      <a>
		<span class="nav-caret">
			<i class="fa fa-caret-down"></i>
		</span>
        <span class="nav-icon">
			<i class="material-icons">&#xe8d2;
                <span ui-include="'__PUBLIC__/admin/assets/images/i_3.svg'"></span>
			</i>
		</span>
        <span class="nav-text">门票预订</span>
      </a>
      <ul class="nav-sub">
        <li>
          <a href="{:U('Tickets/index')}">
            <span class="nav-text">门票管理</span>
          </a>
        </li>
		<li>
          <a href="{:U('Tickets/orderlist')}">
            <span class="nav-text">订单管理</span>
          </a>
        </li>
      </ul>
      </li>
    </ul>
</nav>
</eq>