<extend name="Base/common" />

<block name="main">
  <div class="index-slide">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href=""><img src="__PUBLIC__/order/img/sd1.jpg" alt=""></a>
        </div>
        <div class="swiper-slide">
          <a href=""><img src="__PUBLIC__/order/img/sd2.jpg" alt=""></a>
        </div>
        <div class="swiper-slide">
          <a href=""><img src="__PUBLIC__/order/img/sd3.jpg" alt=""></a>
        </div>
      </div>
      <div class="swiper-pagination">
      </div>
    </div>
  </div>
  <div class="index-book">
    <div class="container">
      <div class="book-content clearfix">
        <div class="book-content-left fl clearfix">
          <div class="book-left-i fl">
            <i class="iconfont">&#xe62a;</i>
          </div>
          <div class="book-left-text fl">
            <p>即刻预订房间</p>
            <span>Reserve Now</span>
          </div>
        </div>
        <div class="book-content-right fl">
          <form action="{:U('Room/index')}">
            <div class="book-right-top clearfix">
              <div class="table-box fl">
                <select name="" id="">
                  <option value="">豪华大床房</option>
                  <option value="">标间</option>
                </select>
                <i class="iconfont">&#xe688;</i>
              </div>
              <div class="index-book-date fl clearfix">
                <div class="index-date-box">
                  <input type="text" class="form-control form-control-date" readonly="" value="2017-09-12"><i class="iconfont">&#xe618;</i>
                </div>
                <div class="date-spare fl"></div>
                <div class="index-date-box">
                  <input type="text" class="form-control form-control-date" readonly="" value="2017-09-12"><i class="iconfont">&#xe618;</i>
                </div>
              </div>
              <div class="index-num-book fl">
                <input type="text" class="form-control"><i class="iconfont">&#xe77a;</i>
              </div>
              <div class="index-sub-box fl">
                <input type="submit" class="form-control" value="">
              </div>
            </div>
          </form>
          <div class="book-right-bot">
            <a href="">庆国庆 黄金专享价85折</a>
            <a href="">查看最新活动专享价 >></a>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="index-conclusion">
    <div class="container">
      <h3>杭州国际博览中心北辰大酒店</h3>
      <p>是杭州国际博览中心的配套四星级酒店，坐落于钱塘江南岸，矗立于钱江世纪城核心区，俯瞰钱塘江之壮观美景，一览钱江世纪城之新风。酒店共19层，室内外均有连廊直通展厅和各会议室，262间时尚雅致的豪华客房中包括18间套房，房间面积44-165平方米，均配备了舒适完备的现代化设施，为您提供高档奢华的入住环境，尽享一线钱塘江美景。中西餐厅各具特色，提供世界各地美食，自助、零点、送餐多样形式尽享美味风尚。</p>
      <div class="service-intro">
        <ul>
          <li><i class="iconfont">&#xe607;</i>最优惠房价保证</li>
          <li><i class="iconfont">&#xe672;</i>免费 Wi-Fi 网络</li>
          <li><i class="iconfont">&#xe62f;</i>体贴入微的服务</li>
          <li><i class="iconfont">&#xe601;</i>温馨舒适的入住体验</li>
          <li><i class="iconfont">&#xe629;</i>便捷的立体交通网络</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="index-link-other">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="index-link-box">
            <a href=""><img src="__PUBLIC__/order/img/indexl1.jpg" alt=""></a>
            <h4>餐饮美食</h4>
            <p>酒店拥有三间风格迥异的餐厅 - 印象西餐厅、中餐厅和大堂吧。印象西餐厅臻选世界各地美食元素，为宾客提供全天侯优质的餐饮体验。</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="index-link-box">
            <a href=""><img src="__PUBLIC__/order/img/indexl2.jpg" alt=""></a>
            <h4>健身中心</h4>
            <p>健身中心位于酒店的3层，共分为心肺功能训练区、自由重量器械区和休闲运动区。宽阔的运动场地、舒适轻松的氛围，能让您缓解精神压力、提高睡眠质量……</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="index-link-box">
            <a href=""><img src="__PUBLIC__/order/img/indexl3.jpg" alt=""></a>
            <h4>宴会会议</h4>
            <p>酒店配套750平米无柱式宴会厅（可分为5个不同规模会议室）和1间贵宾会议室。齐全先进的会议设施，全面覆盖的无线网络，精致典雅的设计风格……</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="index-room-slide">
    <div class="room-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide clearfix">
          <div class="r-swiper-left fl">
            <div class="room-text">
              <h3>高级(商务)大床房</h3>
              <p>套房配备了高档舒适的现代化设施，壮丽的钱塘江景和雅致的空中花园美景尽收眼底。</p>
              <p>房间设计风格源自于钱塘江的一线潮，将杭州“山美、水美、境幽史悠”的内涵融入其中。高级定制的床上用品、充足的室内空间，细致贴心的客房服务，让您尽情享受奢华商务品味。</p>
              <a href="">查看详细</a>
            </div>
          </div>
          <div class="r-swiper-right fl" style="background:url('__PUBLIC__/order/img/rs1.jpg') center 0 no-repeat">
            <div class="bc-plus">
              <img src="__PUBLIC__/order/img/tr.png" alt="">
            </div>
          </div>
        </div>
        <div class="swiper-slide clearfix">
          <div class="r-swiper-left fl">
            <div class="room-text">
              <h3>高级(商务)大床房</h3>
              <p>套房配备了高档舒适的现代化设施，壮丽的钱塘江景和雅致的空中花园美景尽收眼底。</p>
              <p>房间设计风格源自于钱塘江的一线潮，将杭州“山美、水美、境幽史悠”的内涵融入其中。高级定制的床上用品、充足的室内空间，细致贴心的客房服务，让您尽情享受奢华商务品味。</p>
              <a href="">查看详细</a>
            </div>
          </div>
          <div class="r-swiper-right fl" style="background:url('__PUBLIC__/order/img/rs2.jpg') center 0 no-repeat">
            <div class="bc-plus">
              <img src="__PUBLIC__/order/img/tr.png" alt="">
            </div>
          </div>
        </div>

      </div>
      <div class="swiper-pagination">
      </div>
      <div class="swiper-prev"><a href=""><i class="iconfont">&#xe72e;</i></a></div>
      <div class="swiper-next"><a href=""><i class="iconfont">&#xe686;</i></a></div>
    </div>
  </div>
  <div class="index-around">
    <div class="container">
      <h3>周边配套</h3>
      <p>杭州国际博览中心北辰大酒店是杭州国际博览中心的配套四星级酒店，坐落于钱塘江南岸，矗立于钱江世纪城核心区，交通便捷，距离萧山国际机场20分钟车程，杭州东站20分钟车程，杭州站，杭州南站均在15分钟以内，周边景区有钱江新城，钱塘江，奥体中心等……</p>
      <div class="index-a-pic clearfix">
        <div class="row">
          <div class="col-md-6">
            <div class="qy-pic">
              <img src="__PUBLIC__/order/img/ip1.jpg" alt="">
            </div>
          </div>
          <div class="col-md-3">
            <div class="qy-pic">
              <img src="__PUBLIC__/order/img/ip4.jpg" alt="">
            </div>
          </div>
          <div class="col-md-3">
            <div class="qy-pic">
              <img src="__PUBLIC__/order/img/ip5.jpg" alt="">
            </div>
          </div>
          <div class="col-md-3">
            <div class="qy-pic">
              <img src="__PUBLIC__/order/img/ip2.jpg" alt="">
            </div>
          </div>
          <div class="col-md-3">
            <div class="qy-pic">
              <img src="__PUBLIC__/order/img/ip3.jpg" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="qy-pic">
              <img src="__PUBLIC__/order/img/ip6.jpg" alt="">
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</block>

<block name="footer">
  <script src="__PUBLIC__/order/js/swiper-3.4.2.min.js"></script>
  <script src="__PUBLIC__/order/js/bootstrap-datepicker.js"></script>
  <script src="__PUBLIC__/order/js/bootstrap-datepicker.zh-CN.js"></script>
  <script>
    //swiper
    var mySwiper = new Swiper('.swiper-container', {
      loop: true,
      autoplay: 6000,
      pagination: '.swiper-pagination',
      paginationClickable :true
    })
  </script>
  <script>
    //swiper
    var mySwiper = new Swiper('.room-container', {
      loop: true,
      autoplay: 6000,
      pagination: '.swiper-pagination',
      paginationClickable :true,
      nextButton: '.swiper-next',
      prevButton: '.swiper-prev'
    })
    jQuery('.form-control-date').datepicker({
      language: 'zh-CN',
      autoclose: true,
      todayHighlight: true,
      format: 'yyyy-mm-dd'
    });
  </script>
</block>
