<extend name="Base/common"/>

<block name="title">
  {$page.title}
</block>

<block name="header_common">
  <!-- datepicker -->
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/libs/jquery/bootstrap-datepicker/css/datepicker.css">
</block>

<block name="main">
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-divider m-0"></div>
        <div class="box-body">
          <form role="form" class="validate" action="__ACTION__" method="post">
            <div class="form-group">
              <label>房型名称</label>
              <div class="row">
                <div class="col-md-6">
                  <input type="text" name="title" class="form-control" value="{$data.title}">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>房型名称（EN）</label>
              <div class="row">
                <div class="col-md-6">
                  <input type="text" name="title_en" class="form-control" value="{$data.title_en}">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>价格</label>
              <div class="row">
                <div class="col-md-6">
                  <input type="text" name="price" class="form-control" value="{$data.price}">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>早餐</label>
              <div class="row">
                <div class="col-md-6">
                  <eq name="data.breakfast" value="0">
                    <select name="breakfast" class="form-control">
                      <option value ="0" selected = "selected">无早</option>
                      <option value ="1">单早</option>
                      <option value ="2">双早</option>
                    </select>
                  </eq>
                  <eq name="data.breakfast" value="1">
                    <select name="breakfast" class="form-control">
                      <option value ="0">无早</option>
                      <option value ="1" selected = "selected">单早</option>
                      <option value ="2">双早</option>
                    </select>
                  </eq>
                  <eq name="data.breakfast" value="2">
                    <select name="breakfast" class="form-control">
                      <option value ="0">无早</option>
                      <option value ="1">单早</option>
                      <option value ="2" selected = "selected">双早</option>
                    </select>
                  </eq>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>wifi（EN）</label>
              <div class="row">
                <div class="col-md-6">
                  <if condition="$data.wifi eq 0">
                    <select name="wifi" class="form-control">
                      <option value ="0" selected = "selected">免费</option>
                      <option value ="1">无</option>

                    </select>
                  <else />
                    <select name="wifi" class="form-control">
                      <option value ="0">免费</option>
                      <option value ="1" selected = "selected">无</option>
                    </select>
                  </if>
                  <!-- <input type="text" name="title_en" class="form-control"> -->
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>图片</label>
              <div class="row">
                <div class="col-md-12">
                  <div class="qy-upload upload-pic">
                    <ul>
                      <notempty name="data.pic">
                        <li>
                          <img src="__ROOT__/Uploads/{$data.pic}">
                          <input type="hidden" name="pic" value="{$data.pic}">
                          <span class="qy-upload-del"><i class="fa fa-remove"></i></span>
                        </li>
                      </notempty>
                      <li class="upload-pic-wrap" <notempty name="data.pic"> style="display:none;"</notempty>>
                      <i class="fa fa-plus"></i>
                      <input type="file" class="upload-pic-button" name="qy_upload">
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>房型介绍</label>
              <div class="row">
                <div class="col-md-6">
                  <textarea name="description" cols="30" rows="10" class="form-control" placeholder="">{$data.description}</textarea>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>房型介绍（EN）</label>
              <div class="row">
                <div class="col-md-6">
                  <textarea name="description_en" cols="30" rows="10" class="form-control" placeholder="">{$data.description_en}</textarea>
                </div>
              </div>
            </div>
            <input type="hidden" name="id" value="{$data.id}">
            <input type="hidden" name="roomid" value="{$data.roomid}">
            <button type="submit" class="btn primary m-b">提交</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</block>

<block name="footer_common">
  <!-- qy-upload -->
  <script src="__PUBLIC__/admin/libs/jquery/jquery-form/jquery.form.min.js"></script>
  <script src="__PUBLIC__/admin/scripts/qy-upload.js"></script>
  <script type="text/javascript">
    $('.qy-upload').qy_upload("{:U('Upload/index',['width'=>450,'height'=>300])}","pic",0);
  </script>

  <script type="text/javascript" src="__PUBLIC__/admin/libs/jquery/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
  <script type="text/javascript" src="__PUBLIC__/admin/libs/jquery/bootstrap-datepicker/js/locales/bootstrap-datepicker.zh-CN.js"></script>
  <script>
    $('.form-control-datepicker').datepicker({
      language: "zh-CN",
      format: "yyyy-mm-dd",
      autoclose: true
    });
  </script>

  <script type="text/javascript" charset="utf-8" src="__PUBLIC__/admin/libs/js/ueditor/ueditor.config.js"></script>
  <script type="text/javascript" charset="utf-8" src="__PUBLIC__/admin/libs/js/ueditor/ueditor.all.min.js"> </script>
  <script type="text/javascript" charset="utf-8" src="__PUBLIC__/admin/libs/js/ueditor/lang/zh-cn/zh-cn.js"></script>
  <script>
    var ue = UE.getEditor('editor');
    var ue_en = UE.getEditor('editor_en');
  </script>
</block>
