<div class="service-list">
  <ul class="clearfix">
    <li <eq name="Think.ACTION_NAME" value="index">class="list-nav-on"</eq>><a href="{:U('Expo/index')}">{$Think.lang.meeting_intro}</a></li>
    <li <eq name="Think.ACTION_NAME" value="history">class="list-nav-on"</eq>><a href="{:U('Expo/history')}">{$Think.lang.expo_history}</a></li>
    <li <eq name="Think.ACTION_NAME" value="data">class="list-nav-on"</eq>><a href="{:U('Expo/data')}">{$Think.lang.parameters}</a></li>
    <li <eq name="Think.ACTION_NAME" value="reserve">class="list-nav-on"</eq>><a href="{:U('Expo/reserve')}">{$Think.lang.reserve}</a></li>
    <li <eq name="Think.ACTION_NAME" value="picture">class="list-nav-on"</eq>><a href="{:U('Expo/picture')}">{$Think.lang.picture}</a></li>
  </ul>
</div>
