<div class="service-list">
  <ul class="clearfix">
    <li <eq name="Think.ACTION_NAME" value="index">class="list-nav-on"</eq>><a href="{:U('Hotel/index')}">酒店介绍</a></li>
    <li <eq name="Think.ACTION_NAME" value="room">class="list-nav-on"</eq>><a href="http://www.hiechotel.com/index.php?s=/Room/index">客房预定</a></li>
    <li <eq name="Think.ACTION_NAME" value="service">class="list-nav-on"</eq>><a href="{:U('Hotel/service')}">酒店服务</a></li>
    <li <eq name="Think.ACTION_NAME" value="picture">class="list-nav-on"</eq>><a href="{:U('Hotel/picture')}">图集展示</a></li>
  </ul>
</div>
