<div class="service-list">
  <ul class="clearfix">
    <li <eq name="Think.ACTION_NAME" value="index">class="list-nav-on"</eq>><a href="{:U('Service/index')}">{$Think.lang.organizer_manual}</a></li>
    <li <eq name="Think.ACTION_NAME" value="rule">class="list-nav-on"</eq>><a href="{:U('Service/rule')}">{$Think.lang.build_instructions}</a></li>
    <li <eq name="Think.ACTION_NAME" value="construct">class="list-nav-on"</eq>><a href="{:U('Service/construct')}">{$Think.lang.construction_bid}</a></li>
    <li <eq name="Think.ACTION_NAME" value="ads">class="list-nav-on"</eq>><a href="{:U('Service/ads')}">{$Think.lang.advertise}</a></li>
    <li <eq name="Think.ACTION_NAME" value="traffic">class="list-nav-on"</eq>><a href="{:U('Service/traffic')}">{$Think.lang.arrive}</a></li>
    <li <eq name="Think.ACTION_NAME" value="contact">class="list-nav-on"</eq>><a href="{:U('Service/contact')}">{$Think.lang.contact}</a></li>
  </ul>
</div>
