<div class="service-list">
  <ul>
  	<li <eq name="Think.CONTROLLER_NAME" value="Tickets">class="list-nav-on"</eq>><a href="{:U('Tickets/index')}">{$Think.lang.book_tickets}</a></li>
    <li ><a href="{:U('G20/index')}">{$Think.lang.pavilion_intro}</a></li>
    
    <li ><a href="{:U('G20/hand')}">{$Think.lang.garage_kits}</a></li>
    <li><a href="{:U('G20/picture')}">{$Think.lang.picture}</a></li>
    <!-- <li <eq name="Think.ACTION_NAME" value="food">class="list-nav-on"</eq>><a href="{:U('G20/food')}">美食佳肴</a></li> -->
  </ul>
</div>
