<extend name="Base/common"/>

<block name="title">
  {$page.title}
</block>

<block name="main">
  <a href="{:U('form')}" class="btn btn-fw primary m-b">新增</a>
  <div class="row">
    <div class="col-sm-12">
      <div class="box">
        <table class="table table-striped b-t">
          <thead>
          <tr>
            <th>#</th>
            <th>门票名称</th>
            <th>票型编号</th>
            <th>售价</th>
            <th>每日库存</th>
            <th>排序</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <volist name="data" id="data">
            <tr>
              <td>{$data.id}</td>
              <td>{$data.title}</td>
              <td>{$data.goodscode}</td>
              <td>{$data.price}</td>
              <td>{$data.stock}</td>
              <td>{$data.rank}</td>
              <td>			  
				  <a href="{:U('blocklist',array('tid' => $data['id']))}">停售日期</a> 
				  <a href="{:U('form',array('id' => $data['id']))}">编辑</a> 
				  <a href="{:U('delete',array('id'=>$data['id']))}" class="text-danger" onclick="return confirm('确认要删除吗，删除后无法恢复？')">删除</a></td>
            </tr>
          </volist>
          </tbody>
        </table>
      </div>
      <div class="pagenavi">
        {$pagenavi}
      </div>
    </div>
  </div>
</block>
