<extend name="Base/common"/>

<block name="title">
    {$page.title}
</block>

<block name="header_common">
    <!-- datepicker -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/libs/jquery/bootstrap-datepicker/css/datepicker.css">
</block>

<block name="main">

    <style>
        .status {
            padding: 5px;
            border: 1px solid #ccc;
            background: #ddd;
        }

        .status-success {
            background: #6cc788;
            border: 1px solid #5cb85c;
            color: #fff;
        }
    </style>

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-divider m-0"></div>
                <div class="box-body">

                    <div class="row">
                        <label class="col-sm-2 ">门票名称</label>
                        <div class="col-sm-10">
                            {$data.title}
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2">订单号</label>
                        <div class="col-sm-10">
                            {$data.ordersn}
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2 ">数量</label>
                        <div class="col-sm-10">
                            {$data.nums}
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2 ">总价</label>
                        <div class="col-sm-10">
                            {$data.total_price}
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2 ">预订人</label>
                        <div class="col-sm-10">
                            {$data.linkman}
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2 ">联系电话</label>
                        <div class="col-sm-10">
                            {$data.mobile}
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2 ">游玩日期</label>
                        <div class="col-sm-10">
                            {$data.occdate}
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-sm-2 ">预订日期</label>
                        <div class="col-sm-10">
                            {$data.createtime|date='Y-m-d',###}
                        </div>
                    </div>


                    <div class="row">
                        <label class="col-sm-2 ">支付状态</label>
                        <div class="col-sm-10">
                            <eq name="data.pay_status" value="1">
                                <span class="status status-success">已支付</span>
                                <else/>
                                <span class="status">未支付</span>
                            </eq>
                            <eq name="data.pay_type" value="alipay">
                                支付宝
                            </eq>
                            <eq name="data.pay_type" value="wechatpay">
                                微信支付
                            </eq>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2">支付交易号</label>
                        <div class="col-sm-10">
                            {$data.trade_no}
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2 ">核销状态</label>
                        <div class="col-sm-10">
                            <eq name="data.status" value="1">
                                <span class="status status-success">已核销</span>
                            </eq>
                        </div>
                    </div>
					<form method="post" action="">
					<div class="row">
                        <label class="col-sm-2 ">备注</label>
                        <div class="col-sm-10">
                            <textarea name="remark" cols="50" rows="5" >{$data.remark}</textarea>
                        </div>
                    </div>
                    <div class="text-center">
						<input type="hidden" name="id" value="{$data.id}" />
                        <button class="btn btn-fw primary m-b" type="submit">保存</button>&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-fw default m-b" onclick="location.href='{:U('orderlist')}';return false;">返回</button>
                    </div>
					</form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header"><h2>日志记录</h2>
                    <small>日志内容为订单核销、完结、取消等状态的记录</small>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered m-a-0">
                        <thead>
                        <tr>
                            <th width="10%">#</th>
                            <th width="12%">记录时间</th>
                            <th width="12%">通知类型</th>
                            <th>内容</th>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="logs" id="vo">
                        <tr>
                            <td>{$i}</td>
                            <td>{$vo.checktime}</td>
                            <td>
                                <eq name="vo.status" value="check">核销</eq>
                                <eq name="vo.status" value="cancel">取消</eq>
                                <eq name="vo.status" value="success">完结</eq>
                            </td>
                            <td>
                                <notempty name="vo.checknum">检票数量：{$vo.checknum}</notempty>
                                <notempty name="vo.returnnum">退票数量：{$vo.returnnum}</notempty>
                                <notempty name="vo.total">总数量：{$vo.total}</notempty>
                            </td>
                        </tr>
                        </volist>

                        </tbody>
                    </table>
                </div>
            </div>

</block>

<block name="footer_common">
    <!-- qy-upload -->
    <script src="__PUBLIC__/admin/libs/jquery/jquery-form/jquery.form.min.js"></script>

</block>
