<div class="footer-all clearfix">
  <div class="container">
    <div class="footer-top clearfix">
      <div class="f-logo fl">
        <img src="__PUBLIC__/home/img/f-logo.png" alt="">
      </div>
      <div class="f-list fl">
        <ul class="clearfix">
          <li class="f-list-item fl">
            <p>客房中心</p>
            <ul>
              <li><a href="{:U('Room/detail')}">高级(商务)双床房</a></li>
              <li><a href="{:U('Room/detail')}">高级(商务)双床房</a></li>
              <li><a href="{:U('Room/detail')}">行政大床房</a></li>
              <li><a href="{:U('Room/detail')}">行政套房</a></li>
              <li><a href="{:U('Room/detail')}">豪华套房</a></li>
              <li><a href="{:U('Room/detail')}">总统套房</a></li>
            </ul>
          </li>
          <li class="f-list-item fl">
            <p>餐饮美食</p>
            <ul>
              <li><a href="{:U('Hotel/food')}">印象西餐厅</a></li>
              <li><a href="{:U('Hotel/food')}">中餐厅包厢</a></li>
              <li><a href="{:U('Hotel/album')}">美食相册</a></li>
            </ul>
          </li>
          <li class="f-list-item fl">
            <p>健身中心</p>
            <ul>
              <li><a href="{:U('Hotel/gym')}">心肺功能训练区</a></li>
              <li><a href="{:U('Hotel/gym')}">自由重量器械区</a></li>
              <li><a href="{:U('Hotel/gym')}">休闲运动区</a></li>
              <li><a href="{:U('Hotel/gymalbum')}">健身相册</a></li>
            </ul>
          </li>
          <li class="f-list-item fl">
            <p>宴会会议</p>
            <ul>
              <li><a href="{:U('Meeting/ballroom')}">宴会厅</a></li>
              <li><a href="{:U('Meeting/meeting')}">会议室</a></li>
              <li><a href="{:U('Meeting/album')}">宴会相册</a></li>
            </ul>
          </li>
          <li class="f-list-item fl">
            <p>酒店概况</p>
            <ul>
              <li><a href="{:U('Hotel/index')}">酒店概况</a></li>
              <li><a href="{:U('Hotel/index')}">客房介绍</a></li>
            </ul>
          </li>
          <li class="f-list-item fl">
            <p>会展会议</p>
            <ul>
              <li><a href="{:U('Expo/center')}">国博会议中心</a></li>
              <li><a href="{:U('Expo/garden')}">空中花园</a></li>
              <li><a href="{:U('Expo/g20')}">G20峰会体验馆</a></li>
            </ul>
          </li>
          <li class="f-list-item fl">
            <p>联系我们</p>
            <ul>
              <li><a href="{:U('About/contact')}">联系方式</a></li>
              <li><a href="{:U('About/contact')}">在线反馈</a></li>
              <li><a href="{:U('About/contact')}">来店线路</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-bot">
      <div class="footer-bot-left fl">
        <p>友情链接 <em>|</em> 法律声明<a href=""><i class="iconfont f-qq">&#xe60d;</i></a><a href=""><i class="iconfont">&#xe61c;</i></a><a href=""><i class="iconfont">&#xe7e5;</i></a></p>
        <p class="f-add">地址 : 杭州市萧山区钱江世纪城奔竞大道353号    电话：+ 86 (571) 8290 8888  传真：+ 86 (571) 8290 8819</p>
        <p class="f-copy">Copyright 2016 杭州国际博览中心. All Rights Reserved 浙ICP备16030893号<i></i></p>
      </div>
      <div class="footer-bot-right fr">
        <img src="__PUBLIC__/order/img/2wm.jpg" alt="">
        <img src="__PUBLIC__/order/img/wechat.jpg" alt="">
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="__PUBLIC__/order/js/jquery.min.js"></script>
