<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="__PUBLIC__/order/css/swiper-3.4.2.min.css">
  <link rel="stylesheet" href="__PUBLIC__/order/css/bootstrap.css">
  <link rel="stylesheet" href="__PUBLIC__/order/css/pages.css">
  <link rel="stylesheet" href="__PUBLIC__/order/css/style.css">
  <link rel="stylesheet" href="__PUBLIC__/order/css/datepicker.css">
  <title>国博中心酒店</title>
</head>
<body>
<div class="header-all clearfix">
  <div class="header-mid">
    <a href="{:U('Index/index')}"><img src="__PUBLIC__/order/img/h-logo.jpg" alt=""></a>
    <ul class="clearfix">
      <li><a href="{:U('Room/index')}">客房中心</a></li>
      <li><a href="{:U('Hotel/index')}">酒店概况</a></li>
      <li><a href="{:U('Meeting/meeting')}">宴会会议</a></li>
      <li><a href="{:U('Expo/center')}">会展会议</a></li>
      <li class="header-li-last"><a href="{:U('About/contact')}">联系我们</a></li>
    </ul>
  </div>
  <div class="header-left">
    <a href="{:U('Room/index')}"><i class="iconfont">&#xe611;</i>酒店预定</a>
  </div>
  <div class="header-right">
    <a href="/"><img src="__PUBLIC__/order/img/togb.png" alt=""></a><a href="" class="color-black">CN</a><span>|</span><a href="" class="color-gray">EN</a>
  </div>
</div>
