<extend name="Base/common"/>

<block name="title">
  {$page.title}
</block>

<block name="main">
  <div class="row">
    <div class="col-sm-12">
      <div class="box">
        <table class="table table-striped b-t">
          <thead>
          <tr>
            <th>#</th>
            <th>姓名</th>
            <th>邮箱</th>
            <th>联系方式</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <volist name="data" id="data">
            <tr>
              <td>{$data.id}</td>
              <td>{$data.name}</td>
              <td>{$data.email}</td>
              <td>{$data.mobile}</td>
              <td><a href="{:U('edit',array('id' => $data['id']))}">编辑</a> <a href="{:U('del',array('id'=>$data['id']))}" class="text-danger" onclick="return confirm('确认要删除吗，删除后无法恢复？')">删除</a></td>
            </tr>
          </volist>
          </tbody>
        </table>
      </div>
      <div class="pagenavi">
        {$pagenavi}
      </div>
    </div>
  </div>
</block>
