<extend name="Base/common"/>

<block name="title">
  {$page.title}
</block>

<block name="header_common">
  <!-- datepicker -->
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/libs/jquery/bootstrap-datepicker/css/datepicker.css">
</block>

<block name="main">
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-divider m-0"></div>
        <div class="box-body">
          <form role="form" class="validate" action="__ACTION__" method="post">
            <div class="form-group">
              <label>姓名</label>
              <div class="row">
                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" value="{$data.name}">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>房型</label>
              <div class="row">
                <div class="col-md-6">
                  <input type="text" name="title" class="form-control" value="{$data.title}">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>入住日期</label>
              <div class="row">
                <div class="col-md-6">
                  <input type="text" name="sdate" class="form-control" value="{$data.sdate}">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>离店日期</label>
              <div class="row">
                <div class="col-md-6">
                  <input type="text" name="edate" class="form-control" value="{$data.edate}">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>成人数</label>
              <div class="row">
                <div class="col-md-6">
                  <input type="text" name="adult" class="form-control" value="{$data.adult}">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>儿童数</label>
              <div class="row">
                <div class="col-md-6">
                  <input type="text" name="child" class="form-control" value="{$data.child}">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>房间数量</label>
              <div class="row">
                <div class="col-md-6">
                  <input type="text" name="nums" class="form-control" value="{$data.nums}">
                </div>
              </div>
            </div>
            <if condition="$data['paytype'] eq 22">
              <div class="form-group">
                <label>支付方式</label>
                <div class="row">
                  <div class="col-md-6">
                    <input type="text" name="paytype" class="form-control" value="支付宝">
                  </div>
                </div>
              </div>
              <elseif condition="$data['paytype'] eq 21"/>
              <div class="form-group">
                <label>支付方式</label>
                <div class="row">
                  <div class="col-md-6">
                    <input type="text" name="paytype" class="form-control" value="微信">
                  </div>
                </div>
              </div>
              <else />
              <div class="form-group">
                <label>支付方式</label>
                <div class="row">
                  <div class="col-md-6">
                    <input type="text" name="paytype" class="form-control" value="到店">
                  </div>
                </div>
              </div>
            </if>
            
            <div class="form-group">
              <label>网页订单号</label>
              <div class="row">
                <div class="col-md-6">
                  <input type="text" name="ordersn" class="form-control" value="{$data.ordersn}">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>支付单号</label>
              <div class="row">
                <div class="col-md-6">
                  <input type="text" name="transaction_id" class="form-control" value="{$data.transaction_id}">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>畅联订单号</label>
              <div class="row">
                <div class="col-md-6">
                  <input type="text" name="confirmationid" class="form-control" value="{$data.confirmationid}">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>总价格</label>
              <div class="row">
                <div class="col-md-6">
                  <input type="text" name="nums" class="form-control" value="{$data.sum_price}">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>电话</label>
              <div class="row">
                <div class="col-md-6">
                  <input type="text" name="mobile" class="form-control" value="{$data.mobile}">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>邮箱</label>
              <div class="row">
                <div class="col-md-6">
                  <input type="text" name="email" class="form-control" value="{$data.email}">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>其他要求</label>
              <div class="row">
                <div class="col-md-6">
                  <textarea name="info" cols="30" rows="10" class="form-control" placeholder="">{$data.info}</textarea>
                </div>
              </div>
            </div>
            <input type="hidden" name="id"value="{$data.id}">
            <!-- <button type="submit" class="btn primary m-b">确认修改</button> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</block>

<block name="footer_common">
  <!-- qy-upload -->
  <script src="__PUBLIC__/admin/libs/jquery/jquery-form/jquery.form.min.js"></script>
  <script src="__PUBLIC__/admin/scripts/qy-upload.js"></script>
  <script type="text/javascript">
    $('.qy-upload').qy_upload("{:U('Upload/index',['width'=>450,'height'=>300])}","pic",0);
  </script>

  <script type="text/javascript" src="__PUBLIC__/admin/libs/jquery/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
  <script type="text/javascript" src="__PUBLIC__/admin/libs/jquery/bootstrap-datepicker/js/locales/bootstrap-datepicker.zh-CN.js"></script>
  <script>
    $('.form-control-datepicker').datepicker({
      language: "zh-CN",
      format: "yyyy-mm-dd",
      autoclose: true
    });
  </script>

  <script type="text/javascript" charset="utf-8" src="__PUBLIC__/admin/libs/js/ueditor/ueditor.config.js"></script>
  <script type="text/javascript" charset="utf-8" src="__PUBLIC__/admin/libs/js/ueditor/ueditor.all.min.js"> </script>
  <script type="text/javascript" charset="utf-8" src="__PUBLIC__/admin/libs/js/ueditor/lang/zh-cn/zh-cn.js"></script>
  <script>
    var ue = UE.getEditor('editor');
    var ue_en = UE.getEditor('editor_en');
  </script>
</block>
