<extend name="Base/common" />

<block name="main">
  <div class="meeting-g20-top">
    <div class="top-link">
      <div class="container clearfix">
        <div class="link-home fl">
          <a href=""><i class="iconfont">&#xe603;</i></a>
        </div>
        <div class="link-list fl">
          <p>您当前的位置：<a href="">首页</a> > <a href="">酒店概况</a> > <a href="">G20峰会体验馆</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="meeting-g20">
    <div class="container">
      <h3>G20峰会体验馆</h3>
      <div class="line-blue">

      </div>
      <div class="intro-text">
        <p>G20 峰会体验馆完整保留了杭州国际博览中心恢弘敦厚、沉稳大气与清雅温润、俊逸通透的峰会面貌，开放参观迎宾区、主会场、午宴区，将杭州风格、江南特色与中国智慧完美呈现，让游客近距离感受峰会氛围，领略中华文明的多重印象、地方神韵和从容气度，展现大国风范。G20 峰会体验馆完整保留了杭州国际博览中心恢弘敦厚、沉稳大气与清雅温润、俊逸通透的峰会面貌，开放参观迎宾区、主会场、午宴区，将杭州风格、江南特色与中国智慧完美呈现，让游客近距离感受峰会氛围，领略中华文明的多重印象、地方神韵和从容气度，展现大国风范。</p>
        <p class="intro-contact">酒店联系方式：+86（571）8290 8866</p>
      </div>

    </div>
  </div>
  <div class="g20-pic">
    <div class="container">
      <div class="g20-pic-list clearfix">
        <div class="wd33 fl">
          <div class="wd33-t">
            <img src="__PUBLIC__/order/img/g21.jpg" alt="">
            <a href="" class="half-link">了解更多</a>
            <div class="half-opacity">
            </div>
          </div>
          <div class="wd33-b">
            <img src="__PUBLIC__/order/img/g22.jpg" alt="">
            <a href="" class="half-link">了解更多</a>
            <div class="half-opacity">
            </div>
          </div>
        </div>
        <div class="wd33  wd33po fl">
          <img src="__PUBLIC__/order/img/g23.jpg" alt="">
          <a href="" class="half-link">了解更多</a>
          <div class="half-opacity">

          </div>

        </div>
        <div class="wd33 fl">
          <div class="wd33-t">
            <img src="__PUBLIC__/order/img/g24.jpg" alt="">
            <a href="" class="half-link">了解更多</a>
            <div class="half-opacity">
            </div>
          </div>
          <div class="wd33-b">
            <img src="__PUBLIC__/order/img/g25.jpg" alt="">
            <a href="" class="half-link">了解更多</a>
            <div class="half-opacity">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</block>