<extend name="Base/common" />

<block name="main">
  <div class="meeting-garden-top">
    <div class="top-link">
      <div class="container clearfix">
        <div class="link-home fl">
          <a href=""><i class="iconfont">&#xe603;</i></a>
        </div>
        <div class="link-list fl">
          <p>您当前的位置：<a href="">首页</a> > <a href="">酒店概况</a> > <a href="">空中花园</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="meeting-garden">
    <div class="container">
      <h3>空中花园</h3>
      <div class="line-blue">

      </div>
      <div class="intro-text">
        <p>空中花园占地约6.5万平方米，其花园的艺术设计集灵动气韵及人文内涵为一体，着重于运用人工水系和珍奇花木来创造写意江南的绝妙意境。空中花园林木葱郁，水石叠景，与钱塘江的壮丽美景交相辉映，是会议期间休憩、赏景的休闲佳处。空中花园占地约6.5万平方米，其花园的艺术设计集灵动气韵及人文内涵为一体，着重于运用人工水系和珍奇花木来创造写意江南的绝妙意境。空中花园林木葱郁，水石叠景，与钱塘江的壮丽美景交相辉映，是会议期间休憩、赏景的休闲佳处。</p>
        <p class="intro-contact">酒店联系方式：+86（571）8290 8866</p>
      </div>
    </div>

  </div>
  <div class="garden-wrap">
    <div class="container">
      <div class="banquet-slide-box clearfix">
        <div class="banquet-slide fl">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href=""><img src="__PUBLIC__/order/img/mg1.jpg" alt=""></a>
              </div>
              <div class="swiper-slide">
                <a href=""><img src="__PUBLIC__/order/img/mg2.jpg" alt=""></a>
              </div>
              <div class="swiper-slide">
                <a href=""><img src="__PUBLIC__/order/img/mg3.jpg" alt=""></a>
              </div>
            </div>
            <div class="swiper-prev"><a href=""><i class="iconfont">&#xe72e;</i></a></div>
            <div class="swiper-next"><a href=""><i class="iconfont">&#xe686;</i></a></div>
          </div>
        </div>
        <div class="garden-text fl">
          <h4>国博中心空中花园</h4>
          <div class="line-blue3">

          </div>
          <p>空中花园占地约6.5万平方米，其花园的艺术设计集灵动气韵及人文内涵为一体，着重于运用人工水系和珍奇花木来创造写意江南的绝妙意境。空中花园林木葱郁，水石叠景，与钱塘江的壮丽美景交相辉映，是会议期间休憩、赏景的休闲佳处。</p>

        </div>
      </div>
    </div>
  </div>
</block>

<block name="footer">
  <script src="__PUBLIC__/order/js/swiper-3.4.2.min.js"></script>
  <script>
    //swiper
    var mySwiper = new Swiper('.swiper-container', {
      loop: true,
      autoplay: 6000,
      nextButton: '.swiper-next',
      prevButton: '.swiper-prev'
    })
  </script>
</block>