<extend name="Base/common"/>

<block name="title">
  {$page.title}
</block>

<block name="main">
  <a href="{:U('add_bus')}" class="btn btn-fw primary m-b">新增</a>
  <div class="row">
    <div class="col-sm-12">
      <div class="box">
        <table class="table table-striped b-t">
          <thead>
          <tr>
            <th>#</th>
            <th>线路</th>
            <th>日期</th>
            <th>排序</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <volist name="data" id="data">
            <tr>
              <td>{$data.id}</td>
              <td>{$data.title}</td>
              <td>{$data.time|date='Y-m-d',###}</td>
              <td>{$data.rank}</td>
              <td><a href="{:U('edit_bus',array('id' => $data['id']))}">编辑</a> <a href="{:U('del_bus',array('id'=>$data['id']))}" class="text-danger" onclick="return confirm('确认要删除吗，删除后无法恢复？')">删除</a></td>
            </tr>
          </volist>
          </tbody>
        </table>
      </div>
      <div class="pagenavi">
        {$pagenavi}
      </div>
    </div>
  </div>
</block>
