<extend name="Base/common" />

<block name="main">
  <div class="contact-top">
    <div class="top-link">
      <div class="container clearfix">
        <div class="link-home fl">
          <a href=""><i class="iconfont">&#xe603;</i></a>
        </div>
        <div class="link-list fl">
          <p>您当前的位置：<a href="">首页</a> > <a href="">联系我们</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="contact-content">
    <div class="container">
      <h3>联系我们</h3>
      <div class="line-blue">

      </div>
      <div class="contact-wrap clearfix">
        <div class="contact-left fl">
          <h4><i class="iconfont">&#xe604;</i>+86（571）8290 8866</h4>
          <div class="contact-left-box">
            <p><i class="iconfont contact-i1">&#xe71d;</i>杭州市萧山区钱江世纪城奔竞大道353号</p>
            <p><i class="iconfont contact-i2">&#xe670;</i>+86 (571)8387 0667</p>
            <p><i class="iconfont">&#xe696;</i>sales@hiechangzhou.com</p>
            <p><i class="iconfont">&#xe61a;</i>http://www.hiechangzhou.com</p>
            <div class="contact-evm">
              <div class="contact-web fl">
                <img src="__PUBLIC__/order/img/2wm.jpg" alt="">
                <p>关注官方公众号</p>
              </div>
              <div class="fl">
                <img src="__PUBLIC__/order/img/wechat.jpg" alt="">
                <p>关注官方手机站</p>
              </div>
            </div>
          </div>
        </div>
        <div class="contact-right fl">
          <p>尊敬的阁下:</p>
          <p>如果您对我们有什么建议或意见，请在此写下您的宝贵意见，我们将在收到信息三个工作日内回复您。谢谢！</p>
          <div class="name-num clearfix">
            <div class="wd45 fl">
              <input type="text" placeholder="您的称呼" class="form-control">
            </div>
            <div class="wd45 fr">
              <input type="text" placeholder="联系方式" class="form-control">
            </div>
          </div>
          <div class="say-something">
            <textarea name="#" class="form-control" id="#" placeholder="留言内容"></textarea>
          </div>
          <div class="contact-sub">
            <input type="submit" class="btn" value="提交">
          </div>
        </div>
      </div>

    </div>
    <div class="contact-map">
      <img src="__PUBLIC__/order/img/map.jpg" alt="">
    </div>

  </div>
</block>

<block name="footer">
  <script src="__PUBLIC__/order/js/swiper-3.4.2.min.js"></script>
  <script>
    //swiper
    var mySwiper = new Swiper('.swiper-container', {
      loop: true,
      autoplay: 6000,
      nextButton: '.swiper-next',
      prevButton: '.swiper-prev'
    })
  </script>
</block>